@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #ffffff;
  text-decoration: none;
}

.main-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 40px auto 0;
  color: #000000;
  background-color: #ffe17f;
  width: 1160px;
}

.main-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: none;
  background: linear-gradient(to bottom, #ffffff 40%, #ffe17f 40%, #ffe17c 55%, #ffffff 55%);
}

.main-button:focus {
  outline: none;
  background: linear-gradient(to bottom, #ffffff 40%, #af4fff 40%, #af4fff 55%, #ffffff 55%);
}

.main-button:hover {
  background: #ffc700;
}

.main-button:active {
  opacity: 0.3;
}

/* навигация */

.navigation {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 1075px;
}

.navigation-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1039px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  margin: -23px 0 36px 61px;
}

.navigation-search {
  width: 516px;
  box-sizing: border-box;
  margin-top: -15px;
}

.form-input {
  width: 480px;
  height: 20px;
  border: none;
  background-color: #ffe17f;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: -1px 3px;
  background-size: 16px 16px;
  padding-left: 36px;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.form-input:focus {
  outline: 2px solid #af4fff;
  border-radius: 15px;
}

.form-input:hover {
  opacity: 0.5;
  cursor: pointer;
}

.search-input:active {
  outline: 2px solid #000000;
  opacity: 1;
  border-radius: 15px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

.user-menu-link {
  padding: 5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  padding-left: 26px;
}

.user-menu-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.user-menu-link:hover {
  opacity: 0.5;
  cursor: pointer;
}

.user-menu-link:active {
  outline: 2px solid #000000;
  opacity: 1;
  border-radius: 25px;
}

.user-menu-item:first-child {
  margin-right: auto;
}

.user-menu-logout {
  margin: 0;
  opacity: 0.3;
}

.user-menu-enter {
  width: 12px;
  height: 13px;
  background-image: url("../images/icons/user.svg");
  background-repeat: no-repeat;
  background-position: 0 8px;
}

.user-menu-compare {
  width: 12px;
  height: 13px;
  margin-right: 50px;
  background-image: url("../images/icons/compare.svg");
  background-repeat: no-repeat;
  background-position: 5px 8px;
}

.user-menu-cart {
  width: 12px;
  height: 13px;
  margin-right: -6px;
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.catalog-menu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 1041px;
  margin: 0 auto 152px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.catalog-menu-item {
  margin-right: -4px;
  position: relative;
}


.catalog-menu-item:last-child {
  margin-left: 95px;
}

.catalog-menu-item:first-child {
  margin-right: auto;
}

.catalog-menu-link {
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.catalog-menu-link-delivery {
  margin-right: 34px;
}

.catalog-menu-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 15px;
}

.catalog-menu-link:active {
  outline: none;
}

.catalog-menu-item:not(:first-child):hover .catalog-menu-link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  height: 2px;
  width: 98%;
  background-color: #000000;
}

.catalog-menu-item:not(:first-child):active {
  opacity: 0.3;
}

.catalog-menu-item:not(:first-child):active .catalog-menu-link {
  outline: none;
}

.submenu {
  position: absolute;
  top: 220px;
  left: 139px;
  z-index: 1;
  margin: 0;
  padding: 31px 60px 57px;
  width: 1160px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 210px 200px 200px;
  column-gap: 20px;
  row-gap: 15px;
  background-color: #ffe17f;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-transform: none;
  list-style-type: none;
}

.submenu-display {
  display: none;
}

.submenu-item:last-child {
  grid-column: 1/2;
}

.submenu-button {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  padding: 15px;
  background-color: #ffe17f;
  background-image: url("../images/icons/submenu.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid #000000;
}

.submenu-link {
  padding: 3px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0;
  color: #000000;
  text-decoration: none;
}

.submenu-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 15px;
}

.submenu-link:active {
  outline: none;
}

.submenu-item:not(:first-child):active {
  opacity: 0.3;
}

.submenu-item:not(:first-child):active .submenu-link {
  outline: none;
}

/* контейнер главной страницы*/

.main-page-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/* слайдер */

.main-slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1161px;
  margin: -150px auto 63px;
}

.slider-image-container {
  margin-right: 40px;
}

.slider-buttons {
  padding: 0;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 47%;
  transform: translateY(-50%);
}

.slider-prev {
  height: 80px;
  width: 40px;
  background-color: transparent;
  background-image: url("../images/icons/left-tall-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider-next {
  height: 80px;
  width: 40px;
  background-color: transparent;
  background-image: url("../images/icons/right-tall-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
  border-radius: 4px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-number {
  position: absolute;
  display: flex;
  top: 81px;
  right: 49px;
  margin: 0;
  padding: 0;
  max-width: 560px;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
}

.slider-header {
  position: relative;
  margin: 0;
  padding-top: 122px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-disc {
  padding-top: 29px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.slider-table th {
  text-align: left;
  margin: 0;
  padding: 0;
  padding-right: 22px;
  padding-bottom: 8px;
  font-family: "Rubik", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
}

.slider-table td {
  padding-right: 20px;
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.slider-pagination {
  position: absolute;
  top: 354px;
  right: 50px;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 11px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button:focus {
  border-color: #af4fff;
  outline: none;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current:hover {
  opacity: 1;
}

.slider-pagination-button-current:active {
  opacity: 1;
}

.slider-link {
  margin: 35px 0 40px;
  padding: 14px 39px 27px;
  display: inline-block;
}

/*категории*/

.category-list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  justify-content: space-between;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  padding: 0;
  padding-bottom: 69px;
  list-style-type: none;
}

.category-block {
  width: 160px;
  height: 160px;
  display: flex;
  background-color: #ffe17f;
}

.category-block svg {
  margin: auto;
}

.category-item {
  width: 160px;
  margin: 0;
  padding: 0;
}

.category-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #000000;
  text-decoration: none;
}

.category-item:nth-child(2) svg {
  margin: 0 auto;
  margin-top: auto;
}

.category-name {
  margin: 0;
  padding: 33px 0 69px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}


.category-link:focus .category-block {
  outline: 5px solid #af4fff;
}

.category-link:focus .category-name {
  color: #af4fff;
}

.category-link:hover .category-block {
  background-color: #ffc700;
}

.category-link:active .category-block {
  outline: none;
}

.category-link:active svg {
  opacity: 0.3;
}

.category-link:active .category-name {
  opacity: 0.3;
  color: #000000;
}

/*сервисы*/

.main-servise {
  background-color: #f0f0f0;
}

.service-container {
  display: flex;
  flex-direction: row;
  width: 1161px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.service-disc {
  justify-content: flex-start;
  width: 497px;
  margin-right: 61px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}


.service-delivery {
  position: relative;
  margin-top: -61px;
  width: 560px;
}

.service-image-courier::after {
  position: absolute;
  top: 56px;
  right: -134px;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../images/сourier.svg");
  background-repeat: no-repeat;
}

.main-service-list {
  display: flex;
  flex-direction: column;
  width: 284px;
  margin: -90px 116px 0 0;
  padding: 80px 0 70px 0;
  list-style: none;
  list-style-type: none;
  position: relative;
}

.main-service-item:last-child {
  margin-bottom: 68px;
}

.main-service-item:not(:last-child) {
  margin-bottom: 25px;
}

.main-service-list::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.service-button {
  padding-top: 9px;
  padding-bottom: 10px;
  min-width: 164px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: linear-gradient(to bottom, #f0f0f0 40%, #ffc700 40%, #ffc700 55%, #f0f0f0 55%);
  border: none;
  cursor: pointer;
}

.service-button-active {
  color: #ffe17f;
  background: #000000;
}

.service-button:focus {
  background: linear-gradient(to bottom, #f0f0f0 40%, #af4fff 40%, #af4fff 55%, #f0f0f0 55%);
  outline: none;
}

.service-button:hover {
  background: #ffc700;
}

.main-service-active {
  background: #000000;
  margin-bottom: 26px;
}

.service-title {
  margin-bottom: 33px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* доставка с кнопкой информации*/

.delivery-container {
  position: relative;
  text-align: center;
  background-color: #ffffff;
}

.delivery-link {
  position: relative;
  display: inline-block;
  width: 1160px;
  box-sizing: border-box;
  margin-top: 90px;
  padding: 37px 0 40px;
  background-color: #f0f0f0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.delivery-link-text {
  width: 760px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  margin-right: auto;
}

.delivery-link::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 125px;
  height: 100%;
  background: url("../images/delivery.svg") #ffe17f no-repeat center; /* тут в одну строку */
}

.delivery-link::after {
  position: absolute;
  top: 29px;
  right: 33px;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #dcdcdc;
  background-image: url("../images/icons/info_d.svg");  /* тут нет */
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-link:focus {
  outline: 5px solid #af4fff;
}

.delivery-link:hover::before {
  background-color: #ffc700;
}

.delivery-link:hover::after {
  opacity: 0.5;
}

.delivery-link:hover {
  opacity: 0.8;
}

.delivery-link:active {
  opacity: 0.3;
  outline: none;
}

/*о нас и контакты*/

.about::before {
  position: relative;
  top: 1px;
  width: 80px;
  height: 6px;
  content: "";
  background: url("../images/icons/aboutline.svg");
}

.contacts::before {
  position: relative;
  top: 1px;
  width: 80px;
  height: 6px;
  content: "";
  background: url("../images/icons/aboutline.svg");
}

.about-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 97px;
  justify-content: center;
  flex-direction: row;
}


.about {
  margin-right: 40px;
  display: flex;
  width: 560px;
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  display: flex;
  width: 560px;
  flex-direction: column;
  align-items: flex-start;
}


.about-title,
.contacts-title {
  margin: 0;
  padding-top: 44px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-disc-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-disc-item {
  margin-bottom: -15px;
}

.about-disc {
  margin: 0;
  padding-top: 45px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.about-list {
  margin: 90px 0 0 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  list-style-type: none;
}

.about-item {
  position: relative;
  padding-left: 32px;
}

.about-item::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.about-item:not(:last-child) {
  padding-bottom: 20px;
}

.contacts-schedule-title {
  margin: 30px 0 0 0;
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.contacts-subtitle {
  margin: 30px 0 15px 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.contact-text,
.contact-phone {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.contacts-schedule {
  margin: 15px 0 0;
  padding: 0;
  list-style-type: none;
}

.contacts-schedule-item {
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.about-link {
  margin: 59px 0 87px;
  padding: 14px 16px 16px;
}

.contact-link {
  margin: 54px 0 87px;
  padding: 14px 34px 16px;
}

/* Рассылка */

.newsletter-main {
  background-color: #f0f0f0;
}


.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 58px 0 56px;
}

.newsletter-discription {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  grid-area: discription;
  margin: 0;
  padding: 68px 31px 0 0;
}

.newsletter-container {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  grid-template-columns: 600px 280px 280px;
  grid-template-areas:
    "title discription discription"
    "email email comment";
}

.newsletter-form {
  margin-bottom: 134px;
  grid-area: email;
}

.newsletter-form form {
  display: flex;
}

.newsletter-text {
  margin-left: auto;
  padding-left: 35px;
  grid-area: comment;
  background-image: url("..//images/icons/tick-big.svg");
  background-repeat: no-repeat;
  background-position: -1px 6px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-input {
  margin: 0;
  width: 601px;
  height: 43px;
  align-self: end;
  padding: 6px 0 9px;
  background-color: #f0f0f0;
  border: 0;
  border-bottom: 3px solid #dcdcdc;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-button {
  min-width: 260px;
  padding: 17px 0 18px 0;
  border: 3px solid #dcdcdc;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.newsletter-input:focus {
  outline: none;
  background-color: #dcdcdc;
}

.newsletter-input:hover {
  border-bottom: 3px solid #000000;
}

.newsletter-input-error {
  border-bottom: 3px solid #ff3d3d;
}

.newsletter-button:focus {
  outline: none;
  border-color: #af4fff;
}

.newsletter-button:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}

.newsletter-button:active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}


/* footer */

.main-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-container {
  display: grid;
  grid-template-columns: 250px 660px 250px;
  grid-template-areas:
    "logo-footer logo-footer logo-footer"
    "footer-addres footer-service footer-phone"
    "line footer-social academy-logo";
  margin: 0 auto;
  width: 1160px;
}

.logo-footer-container {
  margin-bottom: 10px;
  margin-top: 52px;
  grid-area: logo-footer;
  padding-top: 3px;
}

.academy-logo:focus {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.academy-logo:hover path {
  fill: #ffffff;
}

.academy-logo:active {
  opacity: 0.3;
  outline: none;
}

.footer-service {
  margin: 0 auto;
  width: 460px;
  padding: 0;
  grid-area: footer-service;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.footer-service-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.footer-service-link:hover::after {
  position: absolute;
  left: 0;
  top: 42px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #ffc700;
}

.footer-service-link:hover {
  color: #ffc700;
}

.footer-service-link:active {
  opacity: 0.3;
  outline: none;
}


.footer-social {
  margin: 0 auto;
  margin-top: 26px;
  padding: 7px 0 64px;
  grid-area: footer-social;
  align-self: center;
  justify-self: center;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.social-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:focus {
  outline: 5px solid #af4fff;
  background-color: #444444;
}

.social-button:focus path {
  fill: #ffffff;
}

.social-button:hover {
  background-color: #ffc700;
}

.social-button:active {
  outline: none;
}

.social-button:active path {
  fill: rgba(68, 68, 68, 0.3);
}

.academy-logo {
  padding-right: 0;
  padding-bottom: 5px;
  grid-area: academy-logo;
  align-self: center;
  justify-self: end;
  margin-bottom: 21px;
}

.footer-service-link {
  position: relative;
  margin-left: 4px;
  padding: 8px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-phone {
  margin-bottom: 4px;
  padding: 8px 0;
  justify-self: end;
  align-self: center;
  grid-area: footer-phone;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  text-decoration: none;
}

.footer-phone:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:active {
  outline: none;
  opacity: 0.3;
}

.footer-addres {
  padding-top: 2px;
  grid-area: footer-addres;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-line {
  margin-bottom: 30px;
  width: 80px;
  height: 7px;
  grid-area: line;
  background-color: #ffc500;
  align-self: center;
}


/* каталог */

.inner-catalog {
  margin-bottom: 38px;
}


.product-card-title {
  width: 280px;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.sorting-title,
.filter-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  padding: 0;
}

.catalog-header-title {
  margin: 0;
  padding: 37px 0 5px 60px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

/* popup */

.popup-cart-disp {
  display: none;
}

.popup-cart {
  z-index: 3;
  top: 30px;
  right: -80px;
  position: absolute;
  width: 320px;
  min-height: 259px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popup-cart::after {
  position: absolute;
  top: -6px;
  right: 156px;
  width: 14px;
  height: 6px;
  content: "";
  background: url("../images/cart/littleblack.svg") no-repeat;
}

.popup-cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-cart-item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.popup-cart-link {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.popup-cart-link:focus .popup-cart-img {
  outline: 5px solid #af4fff;
}

.popup-cart-link:focus .popup-cart-title {
  color: #af4fff;
}

.popup-cart-link:hover {
  opacity: 0.6;
}

.popup-cart-link:active {
  opacity: 0.3;
}

.popup-cart-link:active .popup-cart-img {
  outline: none;
}

.popup-cart-img {
  margin-right: 23px;
}

.popup-cart-title {
  margin: 0;
  padding-right: 10px;
  padding-top: 2px;
  width: 180px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}

.delete-item-button {
  margin: 2px -5px 0 auto;
  padding: 10px;
  width: 11px;
  height: 11px;
  background: #000000 url("../images/cart/delete.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.delete-item-button:focus {
  outline: 2px solid #af4fff;
  border-radius: 50%;
}

.delete-item-button:hover {
  opacity: 0.6;
}

.delete-item-button:active {
  opacity: 0.3;
  outline: none;
}

.popup-cart-sum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 20px;
  background: #1a1a1a;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.popup-cart-value {
  margin: 0;
  font: inherit;
}

.popup-cart-price {
  margin: 0;
}

.popup-cart-open {
  margin: 20px;
  padding: 15px 0 14px;
  width: 280px;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  background-color: #ffffff;
}

.popup-cart-open:focus {
  outline: 5px solid #af4fff;
}

.popup-cart-open:hover {
  background-color: #ffe17f;
}

.popup-cart-open:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-left: 60px;
  margin-top: 6px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 34px;
  padding: 10px 0;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  opacity: 0.6;
}

.breadcrumbs-link:focus::before {
  position: absolute;
  top: 6px;
  left: -5px;
  content: "";
  display: block;
  width: calc(100% + 12px);
  height: calc(100% - 10px);
  outline: 5px solid #af4fff;
}

.breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 1);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  width: 4px;
  height: 7px;
  content: "";
  top: 19px;
  right: -20px;
  background: url("..//images/icons/nav-arrow\ 2.svg");
  background-repeat: no-repeat;
}

.filter-title {
  position: relative;
  margin: 0;
  padding: 26px 0 25px 60px;
  background-color: #dcdcdc;
}

.catalog-filter-container {
  position: relative;
  width: 329px;
  background-color: rgba(235, 235, 235, 1);
}

.catalog-filter-title::before {
  position: absolute;
  top: 0;
  left: -1px;
  width: 200px;
  height: 2px;
  content: "";
  background-color: #000000;
}

.catalog-filter {
  margin-top: 69px;
}

.catalog-filter-group {
  margin: 0 0 30px 60px;
  padding: 0;
  width: 200px;
  border: none;
}

.catalog-filter-title {
  position: relative;
  margin-bottom: 37px;
  padding: 0;
  padding-top: 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.range-buttons {
  position: relative;
  margin-bottom: 15px;
  height: 2px;
  background-color: #dcdcdc;
}

.range-line {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 110px;
}

.range-inputs {
  position: relative;
  margin-bottom: 37px;
}

.catalog-filter-label {
  position: absolute;
  top: 1px;
  margin-right: 2px;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  align-items: center;
}

.catalog-filter-input {
  padding: 0;
  padding-left: 5px;
  width: 60px;
  color: inherit;
  font: inherit;
  background-color: transparent;
  text-align: left;
  border: none;
}

.catalog-filter-label-min {
  left: -8px;
}

.catalog-filter-label-max {
  left: 89px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  margin-top: -11px;
  list-style-type: none;
}

.catalog-filter-list-color {
  margin-bottom: 26px;
}

.catalog-filter-list-bluetooth {
  margin-bottom: 17px;
}

.catalog-filter-item {
  padding-bottom: 16px;
}


.control {
  position: relative;
  display: block;
  padding-left: 37px;
  cursor: pointer;
}

.control-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.control-mark {
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 10px;
  height: 10px;
  background: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input:focus ~ .control-mark {
  border-color: #af4fff;
}

.control-input:focus ~ .control-label {
  color: #af4fff;
}

.control-input:checked:focus ~ .control-mark {
  border-color: #af4fff;
}

.control-input:checked:hover ~ .control-mark,
.control-input:checked:hover ~ .control-label {
  opacity: 0.5;
}

.control-input:active ~ .control-mark,
.control-input:active ~ .control-label {
  opacity: 0.5;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  content: "";
  background-color: #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked:focus ~ .control-mark {
  border-color: #af4fff;
}

.control-input[type="radio"]:checked:focus ~ .control-mark::before {
  background-color: #af4fff;
}

.catalog-filter-button {
  margin-left: 60px;
  padding: 17px 39px 20px;
  border: none;
  background: linear-gradient(to bottom, #ebebeb 40%, #ffc700 40%, #ffc700 55%, #ebebeb 55%);
  cursor: pointer;
}

.catalog-filter-button:focus {
  background: linear-gradient(to bottom, #ebebeb 40%, #af4fff 40%, #af4fff 55%, #ebebeb 55%);
}

/* тест серого фона.....*/

.catalog-filter-container::before {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 1000px;
  height: 100%;
  content: "";
  background-color: rgba(235, 235, 235, 1);
}

.filter-title::before {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 1000px;
  height: 100%;
  content: "";
  background-color: rgba(220, 220, 220, 1);
}

.soring-container::after {
  position: absolute;
  left: 760px;
  top: 0;
  z-index: -1;
  width: 1000px;
  height: 100%;
  content: "";
  background-color: rgba(235, 235, 235, 1);
}


/* сортировка */


.soring-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 14px 0 15px 61px;
  background: #ebebeb;
}

.sorting-type {
  display: flex;
  align-items: center;
}


.sorting-label {
  margin: 0;
  padding: 11px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  width: 250px;
  padding-left: 40px;
  position: relative;
  border: none;
  background-color: #ebebeb;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.submit-sorting-up {
  height: 10px;
  width: 11px;
  padding: 8px;
  background-image: url("../images/icons/sort-up.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 8px solid transparent;
  cursor: pointer;
  opacity: 0.6;
}

.submit-sorting-down {
  height: 10px;
  width: 11px;
  padding: 8px;
  background-image: url("../images/icons/sort-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 8px solid transparent;
  cursor: pointer;
}

.submit-sorting-up:focus {
  top: 0;
  left: 9px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  outline: 5px solid #af4fff;
}

.submit-sorting-up:hover {
  opacity: 0.6;
}

.submit-sorting-down:focus {
  top: 0;
  left: 9px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  outline: 5px solid #af4fff;
}

.submit-sorting-down:hover {
  opacity: 0.6;
}

.submit-sorting:not(:last-child) {
  margin-left: 297px;
}

.submit-sorting:last-child {
  margin-left: -1px;
}

.catalog-monopods {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}


.product-cards-list {
  padding: 0;
  margin: 69px 0 46px 72px;
  display: grid;
  grid-template-columns: repeat(2, 354px);
  gap: 46px;
  list-style-type: none;
}

.product-card-main {
  position: relative;
  margin-bottom: 25px;
}

.product-card-item {
  position: relative;
}

.product-list {
  width: 832px;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #000000;
}

.product-card-button {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 90px);
  display: none;
  padding: 10px;
  width: 180px;
  background-image: linear-gradient(to bottom, transparent 17px, #ffc700 17px, #ffc700 25px, transparent 25px, transparent);
}

.product-card-main::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: none;
  width: 360px;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
  background-position: center;
}

.product-card-link:focus .product-card-image {
  outline: 5px solid #af4fff;
}

.product-card-link:focus .product-card-title {
  color: #af4fff;
}

.product-card-link:focus .product-card-price {
  color: #af4fff;
}

.product-card-link:hover .product-card-main::before {
  display: block;
}

.product-card-link:hover .product-card-button {
  display: block;
}


.product-card-link:active .product-card-main {
  outline: none;
}

.product-card-link:active .product-card-price {
  color: #444444;
}

.product-card-link:active .product-card-title {
  color: #000000;
}

.product-card-button:hover {
  background-color: #ffc700;
}

.product-card-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-show-more {
  width: 760px;
  margin: 0 auto;
  margin-left: 72px;
  margin-bottom: 51px;
  padding: 15px 0 15px 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 3px solid #dcdcdc;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.button-show-more:focus {
  border: 3px solid #af4fff;
  outline: 3px solid #af4fff;
}

.button-show-more:hover {
  border: 3px solid rgba(0, 0, 0, 1);
}

.button-show-more:active {
  color: rgba(0, 0, 0, 0.3);
  border: 3px solid rgba(0, 0, 0, 0.3);
  outline: none;
}

.pagination {
  margin: auto 0 auto 56px;
  padding: 0;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}

.pagination-link {
  padding: 9px 17px 11px 10px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.catalog-pagination {
  display: flex;
  width: 760px;
  background-color: #ebebeb;
  margin-left: auto;
  margin-bottom: 86px;
}

.pagination-button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: right;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ebebeb;
  border: 5px solid transparent;
}

.paggination-button-prev {
  margin-right: auto;
  padding: 23px 28px 16px 24px;
}

.paggination-button-next {
  margin-left: auto;
  padding: 19px 21px 14px 18px;
}

.paggination-button-next:focus {
  border-color: #af4ffc;
}

.paggination-button-next:hover {
  background-color: #dcdcdc;
}

.paggination-button-next:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.paggination-button-prev:focus {
  border-color: #af4ffc;
}

.paggination-button-prev:hover {
  background-color: #dcdcdc;
}

.paggination-button-prev:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.pagination-current {
  color: #444444;
  opacity: 0.2;
  outline: 5px solid transparent;
}

.pagination-link:focus {
  outline: 5px solid #af4fff;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
  outline: 5px solid transparent;
}


/* модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 61px 70px 70px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-delivery {
  width: 920px;
}

.modal-delivery-wrap {
  margin-bottom: 68px;
  display: flex;
  justify-content: space-between;
}

.modal-delivery-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.modal-delivery-form {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  column-gap: 40px;
}

.modal-delivery-form-name {
  position: relative;
}

.modal-delivery-form-name::after {
  position: absolute;
  top: 66px;
  right: 24px;
  content: "";
  width: 13px;
  height: 12px;
  background: url("../images/modal/usergrey.svg") no-repeat;
}

.modal-delivery-form-email {
  position: relative;
  grid-column: 2/-1;
}

.modal-delivery-form-email::after {
  position: absolute;
  top: 66px;
  right: 24px;
  content: "";
  width: 15px;
  height: 12px;
  background: url("../images/modal/mailgrey.svg") no-repeat;
}

.modal-delivery-form-order {
  grid-column: 1/3;
}

.modal-delivery-button {
  position: relative;
  margin: 0;
  margin-right: -12px;
  padding: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: none;
  background: #ffffff url("../images/modal/cross.svg") no-repeat center;
}

.modal-delivery-button:focus {
  outline: 5px solid #af4fff;
  border-radius: 50%;
}

.modal-delivery-button:hover {
  opacity: 0.6;
}

.modal-delivery-button:active {
  opacity: 0.3;
  outline: none;
}

.field-group {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  letter-spacing: -0.5px;
}

.field {
  padding-left: 20px;
  height: 60px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  background-color: #f0f0f0;
}

.field:focus {
  outline: 5px solid #af4fff;
}

.field:invalid {
  outline: 3px solid #ff3d3d;
  background-color: #ffffff;
}

.field:invalid ~ .form-comment {
  color: #ff3d3d;
}

.form-comment {
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}

.modal-delivery-form-quantity {
  position: relative;
}

.quantity-input {
  display: flex;
}

.quantity-input-button {
  padding: 0;
  width: 50px;
  display: flex;
  border: none;
  cursor: pointer;
}

.quantity-input-button svg {
  margin: auto;
  opacity: 0.3;
}

.quantity-input-button:hover svg {
  opacity: 1;
}

.quantity-input-button:focus {
  outline: none;
}

.quantity-input-button:focus svg {
  padding: 5px;
  border-radius: 50%;
  outline: 2px solid #af4fff;
}

.quantity-input-button-minus:focus svg {
  display: block;
  padding: 10px 4px;
}

.field-quantity {
  position: relative;
  padding: 0;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
  appearance: textfield;
}


.field-quantity:focus {
  outline: none;
}

.form-quantity-info {
  position: absolute;
  top: -2px;
  left: 120px;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background: #ffe17f url("../images/modal/modalinfo.svg") no-repeat center;
}

.form-quantity-info-text {
  position: absolute;
  top: 35px;
  right: -20px;
  margin: 0;
  padding: 19px 17px 20px 19px;
  width: 200px;
  display: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.form-quantity-info-text p {
  margin: 0;
  padding: 0;
}

.form-quantity-info:hover ~ .form-quantity-info-text {
  display: block;
}

.form-quantity-info:focus-within ~ .form-quantity-info-text {
  display: block;
}

.modal-form-submit {
  justify-self: start;
  margin-top: 20px;
  padding: 9px 28px 11px;
  background: linear-gradient(to bottom, #ffffff 40%, #ffc700 40%, #ffc700 55%, #ffffff 55%);
}

.modal-form-submit:hover {
  background: #ffc700;
}
