@font-face {
  font-family:Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family:Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family:Rubik;
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family:Rubik;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #FFFFFF;
}

.main-header {
  color:#000000;
  background-color: #FFE17F;
}

.main-button{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration:none;
}

.navigation-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration:none;
}

.navigation-link-menu {
  font-family:Rubik, sans-serif;
  font-style: normal;
  font-weight: normal;
  color:#000000;
  font-size: 16px;
  line-height: 18px;
  text-decoration:none;
}

.slider-number {
  font-family: Rubik;
  color:#000000;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
}

.slider-header {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider-disc {
  font-family: Rubik;
  color:#444444;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

th {
  font-family: Rubik;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 30px;
}

td {
  font-family: Rubik;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.main-servise {
  background-color: #F0F0F0;

}

.service-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.delivery {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.about-title, .contacts-title {
  font-family: Raleway;
  color:#000000;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.about-list {
  font-family: Rubik;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.contacts-subtitle {
  font-family: Rubik;
  color:#444444;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.contact-text, .contact-phone{
  font-family: Rubik;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.contacts-schedule-item{
  font-family: Rubik;
  color: #444444;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.newsletter-main {
  background-color: #F0F0F0;
}


.newsletter-title, .catalog-header-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.newsletter-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
footer{
  color: #FFFFFF;
  background-color: #444444;
}

.footer-service-link {
  font-family: Raleway;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contact-phone {
  font-family: Rubik;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  text-decoration: none;
}

.footer-contact-text{
  font-family: Rubik;
  color:#FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

/* каталог */

.breadcrumbs-link, .control-label {
  font-family: Rubik;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.product-card-title{
  font-family: Rubik;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;

}

.sorting-title, .filter-title {
  font-family: Raleway;
  color: #000000;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

}
